.container {
    max-width: 600px;
}

.logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 150px;
}

.team-name {
    position: absolute;
    top: 80px;
    left: 15px;
    font-size: 19px; /* 20% smaller */
    font-weight: bold;
    text-transform: lowercase;
    font-family: "Segoe UI", Arial, sans-serif;
}
